body{
  font-family: Ubuntu, "times new roman", times, roman, serif;
}
a, a:hover, a:focus, a:active{
  text-decoration: none;
  color: inherit;
}
.firstIntro{
  margin-top: 10%;
  text-align: center;
  height: 400px;
}
.intro{
    color: #fff;
    background-color: #003638;
}
.intro a:hover{
  color:#F3F2C9;
}
.btn-outline-project{
  color: #F3F2C9; 
  border: 1px solid #003638;
  border-radius: 15px;
  background-color: #003638;
}
.btn-outline-project:hover{
  background-color: #F3F2C9;
  border: 1px solid #003638;
  border-radius: 15px;
  color: #003638;
}
.btn-outline-colored{
  color: #003638;
  border: 1px solid #F3F2C9;
  border-radius: 15px;
  background-color: #F3F2C9;
}

.btn-outline-colored:hover{
  color: #F3F2C9; 
  border: 1px solid #F3F2C9;
  border-radius: 15px;
  background-color: #003638;
}
.intro .punctuation{
  color: #F3F2C9;
  display: inline-block;
}
.title{
  margin-top: 15%;
  margin-bottom: 15%;
  letter-spacing: 2px;

}
.separator{
  border-top: 2px dashed #F3F2C9;
  border-bottom: 2px dashed #F3F2C9;
  background-color: #fff;

}
.sideNote{
  background-color: #fff;
  margin: 15%;
  margin-top: 5%;
  border-radius: 15px;

}
.sideNoteText{
  color: #003638;
  padding: 5%;
}
.sideTitleText{
  padding: 15%;
  padding-right: 2%; 
}
.sideTitleText h2::first-letter{
  color: #F3F2C9;
  font-size: 120%;

}
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(images/Imgur.gif) center no-repeat #003638;

}
.info{
  font-size: 10pt;
  text-align: center;
  color: #fff;
}
.info p::first-letter{
  color: #F3F2C9;
}
#navbar{
  position: fixed;
  width: 100%;
  margin: 0px;
}

#navbar a{
  color: #003638;
}

#navbar a:hover{
  color:#F3F2C9;
}
a:focus, a:active .nav-link{
text-decoration: none;
  color: inherit;
}

#particles-js{ 
  background-color: #003638;
  background-repeat: no-repeat; 
  background-position: 50% 50%; 
  background-size: cover;
  height: 150px;
} 

#particles-js2{ 
  background-color: #003638;
  background-repeat: no-repeat; 
  background-position: 50% 50%; 
  height: 150px;
} 
#particles-js3{ 
  background-color: #003638;
  background-repeat: no-repeat; 
  background-position: 50% 50%; 
  background-size: cover;
  height: 150px;
} 

#particles-js4{ 
  background-color: #003638;
  background-repeat: no-repeat; 
  background-position: 50% 50%; 
  height: 150px;
} 
#particles-js5{ 
  background-color: #003638;
  background-repeat: no-repeat; 
  background-position: 50% 50%; 
  height: 150px;
} 
.leftExp {
  border-radius:15px; 
  color:#F3F2C9;
  border-right: 2px solid #F3F2C9
}
.rightExp{
  border-radius:15px;
  border-left: 2px solid #F3F2C9;
}

.circle{
  display: inline-block;
  background-color: #003638;
  border: 2px solid #003638 0.5;
  width: 300px;
  height: 300px;
  margin-left: 0px;
  margin-right: 5%;
  margin-left: 5%;
  border-radius: 50%;
}
.circle a p{
  font-size: 15px;
  color:#fff;
  padding: 15%;
}
.circle:hover {
  -webkit-animation: blinkI 1s ease-in-out forwards;
}


@-webkit-keyframes blinkI {
  0% {
      border: 2px solid #003638;
  }
  
  100% {
    border: 2px solid #F3F2C9;
  }

}


#EDU{
  text-align: center;
}
.project{
  width:100%;
  color: #003638;
  background-color: #F3F2C9;
}

.navbar-color{
  background-color: #F3F2C9;
  color: #003638;
}

.navbar-color a{
  color: #003638;
  border-radius:3px;
}
.navbar-color a:hover{
  color: #F3F2C9;
  background-color: #003638;
}
